### Aufgaben For-Schleife
1. Z&auml;hle, wie oft der Buchstabe 'a' in einem Wort vorkommt.
1. Erstelle eine Liste, mit den Positionen, an welchen der  Buchstabe 'a' in einem Wort auftritt.  
   Z.B. 'abakadabra' -> [0, 2, 4, 6, 9]
1. W&uuml;rfle 6 Mal und berechne das Produkt der gew&uuml;rfelten Zahlen.
   **Hint**:
   ```python
   import random
   
   # wuerfeln: Zufallszahl von 1 bis 6
   n = random.randint(1, 6)
   ```
1. Berechne das Produkt zweier Zahlen ohne die Multiplikation `*` zu benutzen:
   Berechne `x * y` indem du `x` `y`-Mal addierst.
1. Gib folgende Multiplikationstabelle f&uuml;r das kleine 1x1 aus:      
```
 1,  2,  3,  4,  5,  6,  7,  8,  9, 
 2,  4,  6,  8, 10, 12, 14, 16, 18, 
 3,  6,  9, 12, 15, 18, 21, 24, 27, 
 4,  8, 12, 16, 20, 24, 28, 32, 36, 
 5, 10, 15, 20, 25, 30, 35, 40, 45, 
 6, 12, 18, 24, 30, 36, 42, 48, 54, 
 7, 14, 21, 28, 35, 42, 49, 56, 63, 
 8, 16, 24, 32, 40, 48, 56, 64, 72, 
 9, 18, 27, 36, 45, 54, 63, 72, 81, 
```
**Hint**: Zahl rechtsb&uuml;ndig ausgeben mit `print('{:>2}'.format(42))`

In [4]:
# Wie oft tritt 'a' in 'abakadabra' auf?
word = 'abakadabra'
count = 0

for ch in word:
    if ch == 'a':
        count = count + 1
        
print(count)

5

In [6]:
# An welchen Positionen stehen 'a's?
word = 'abakadabra'
positions = []

for i, ch in enumerate(word):
    if ch == 'a':
        positions.append(i)
        
print(positions)

[0, 2, 4, 6, 9]

In [20]:
# 6 Zufallszalen multiplizieren
import random
prod = 1
for i in range(6):
    n = random.randint(1,6)
    prod = prod * n
print(prod)

7200

In [22]:
# Addiere 4 10-Mal zu sich selber 10 * 4 = 40
x = 4
y = 10
res = 0

for i in range(y):
    res = res + x
print(res)

40

In [15]:
# Tabelle zum kleinen 1x1
for i in range(1, 10):
    for j in range(1, 10):
        print('{:>2}'.format(i*j), end = ', ')
    print()

 1,  2,  3,  4,  5,  6,  7,  8,  9,
 2,  4,  6,  8, 10, 12, 14, 16, 18,
 3,  6,  9, 12, 15, 18, 21, 24, 27,
 4,  8, 12, 16, 20, 24, 28, 32, 36,
 5, 10, 15, 20, 25, 30, 35, 40, 45,
 6, 12, 18, 24, 30, 36, 42, 48, 54,
 7, 14, 21, 28, 35, 42, 49, 56, 63,
 8, 16, 24, 32, 40, 48, 56, 64, 72,
 9, 18, 27, 36, 45, 54, 63, 72, 81,

***
***L&ouml;sungen*** als Funktionen
***

In [3]:
def count(word, letter):
    count = 0

    for ch in word:
        if ch == letter:
            count = count + 1
        
    return count

In [4]:
count('abakadabra', 'a')

5

In [7]:
def positions(word, letter):
    positions = []

    for i, ch in enumerate(word):
        if ch == 'a':
            positions.append(i)

    return positions

In [8]:
positions('abakadabra', 'a')

[0, 2, 4, 6, 9]

In [15]:
import random
def random_product(n):
    prod = 1
    for i in range(n):
        n = random.randint(1,6)
        prod = prod * n
    return prod

In [16]:
random_product(5)

24

In [1]:
def mul(x, y):

    res = 0
    
    for i in range(y):
        res = res + x
        
    return res

In [3]:
mul(3, 6)

18

In [18]:
def kleines1_x_1():
    for i in range(1, 10):
        for j in range(1, 10):
            print('{:>2}'.format(i*j), end = ', ')
        print()

In [19]:
kleines1_x_1()

 1,  2,  3,  4,  5,  6,  7,  8,  9,
 2,  4,  6,  8, 10, 12, 14, 16, 18,
 3,  6,  9, 12, 15, 18, 21, 24, 27,
 4,  8, 12, 16, 20, 24, 28, 32, 36,
 5, 10, 15, 20, 25, 30, 35, 40, 45,
 6, 12, 18, 24, 30, 36, 42, 48, 54,
 7, 14, 21, 28, 35, 42, 49, 56, 63,
 8, 16, 24, 32, 40, 48, 56, 64, 72,
 9, 18, 27, 36, 45, 54, 63, 72, 81,